* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: kumbhSansBold;
  src: url(../web-fonts/KumbhSans-Bold.ttf);
}

@font-face {
  font-family: kumbhSansRegular;
  src: url(../web-fonts/KumbhSans-Regular.ttf);
}

.container {
  max-width: 1110px;
  height: 900px;
  margin: 0 auto;
  position: relative;
}

.container .navbar {
  height: 50px;
  font-family: kumbhSansRegular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 28px;
  font-size: 15px;
  line-height: 26px;
  color: #69707D;
  margin-bottom: 34px;
  margin-left: 10px;
  margin-right: 10px;
}

.container .navbar .navbar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
}

.container .navbar .navbar__left a {
  text-decoration: none;
  color: #69707D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .navbar .navbar__left .navbar__left-section {
  margin: 0 5px;
  position: relative;
}

.container .navbar .navbar__left .navbar__left-section::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #FF7E1B;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 69px;
  left: 0px;
}

.container .navbar .navbar__left .navbar__left-section:hover::after {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

.container .navbar .navbar__left .navbar__left-section a:hover {
  color: #FF7E1B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .navbar .navbar__right {
  font-family: kumbhSansBold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  position: relative;
}

.container .navbar .navbar__right .navbar__right-cart .cart-img .cart-number {
  position: absolute;
  background-color: #FF7E1B;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 19px;
  height: 13px;
  font-size: 10px;
  padding-top: 2px;
  color: #fff;
  font-weight: 700;
  left: 20px;
}

.container .navbar .navbar__right .navbar__right-cart .cart-img a img {
  width: 32px;
}

.container .navbar .navbar__right .navbar__right-cart a img {
  width: 21px;
}

.container .navbar .navbar__right .navbar__right-cart a img:hover {
  color: rgba(255, 126, 27, 0);
}

.container .navbar .navbar__right .cart {
  position: absolute;
  width: 360px;
  min-height: 256px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
          box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  border-radius: 10px;
  right: 0px;
  top: 70px;
  display: none;
}

.container .navbar .navbar__right .cart .cart-empty .cart-p {
  color: #1D2026;
  margin-bottom: 27px;
  margin-left: 24px;
  margin-top: 24px;
  font-size: 16px;
}

.container .navbar .navbar__right .cart .cart-empty .cart-hr {
  width: 360px;
  height: 2px;
  background: #E4E9F2;
}

.container .navbar .navbar__right .cart .cart-empty .cart-description {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #69707D;
  margin-top: 70px;
}

.container .navbar .navbar__right .cart .cart-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 312px;
  font-family: kumbhSansRegular;
}

.container .navbar .navbar__right .cart .cart-full .cart-small-img img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.container .navbar .navbar__right .cart .cart-full .cart-middle-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  line-height: 26px;
  color: #69707D;
}

.container .navbar .navbar__right .cart .cart-full .cart-trash:hover {
  color: #FF7E1B;
}

.container .navbar .navbar__right .cart .cart-full .cart-btn {
  width: 312px;
  height: 56px;
  background-color: #FF7E1B;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container .navbar .navbar__right .cart .cart-full .cart-btn p {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-family: kumbhSansBold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 120px;
  padding-top: 15px;
}

.container .navbar .navbar__right .navbar__right-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 125, 26, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.container .navbar .navbar__right .navbar__right-profile:hover {
  border-radius: 50%;
  border: 2px solid #ff7d1a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .navbar .navbar__right .navbar__right-profile .profile-img {
  width: 100%;
  cursor: pointer;
}

.container .hr {
  max-width: 1110px;
  height: 1px;
  background-color: #E4E9F2;
  margin: 0 auto;
  margin-bottom: 90px;
}

.container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container section .section__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container section .section__left .section__left-top {
  margin-bottom: 32px;
}

.container section .section__left .section__left-top img {
  width: 445px;
  height: 445px;
  border-radius: 15px;
  cursor: pointer;
}

.container section .section__left .section__left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 445px;
}

.container section .section__left .section__left-bottom .section__left-bottom-img {
  width: 88px;
  height: 88px;
}

.container section .section__left .section__left-bottom .section__left-bottom-img img {
  width: 88px;
  border-radius: 10px;
  cursor: pointer;
}

.container section .section__left .section__left-bottom .section__left-bottom-img img:active {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.75))), url(Image.png);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(Image.png);
  border: 3px solid #FF7E1B;
}

.container section .section__right {
  width: 445px;
}

.container section .section__right .section__right-top {
  margin-top: 62px;
  margin-bottom: 32px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container section .section__right .section__right-top h3 {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FF7E1B;
  font-family: kumbhSansBold;
  margin-bottom: 24px;
}

.container section .section__right .section__right-top h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  color: #1D2026;
  font-family: kumbhSansBold;
  margin-bottom: 32px;
}

.container section .section__right .section__right-top p {
  font-size: 16px;
  line-height: 26px;
  color: #69707D;
  margin-bottom: 24px;
}

.container section .section__right .section__right-top .section__right-top-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 173px;
}

.container section .section__right .section__right-top .section__right-top-price .section__right-top-price-left p {
  font-size: 28px;
  color: #1D2026;
  font-weight: 700;
  font-family: kumbhSansBold;
}

.container section .section__right .section__right-top .section__right-top-price .section__right-top-price-left .line-through {
  font-weight: 700;
  font-size: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #B6BCC8;
  margin-top: -20px;
}

.container section .section__right .section__right-top .section__right-top-price .section__right-top-price-right {
  width: 32px;
  height: 20px;
  background-color: #FFEEE2;
  border-radius: 6px;
}

.container section .section__right .section__right-top .section__right-top-price .section__right-top-price-right p {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FF7E1B;
}

.container section .section__right .section__right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .section__right .section__right-bottom .section__right-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 157px;
  height: 56px;
  background: #F6F8FD;
  border-radius: 10px;
}

.container section .section__right .section__right-bottom .section__right-bottom-left .counter-value input {
  width: 20px;
  border: none;
  outline: none;
}

.container section .section__right .section__right-bottom .section__right-bottom-left .counter-minus i:active, .container section .section__right .section__right-bottom .section__right-bottom-left .counter-plus i:active {
  color: #FF7E1B;
}

.container section .section__right .section__right-bottom .section__right-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 272px;
  height: 56px;
  background: #FF7E1B;
  border-radius: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.container section .section__right .section__right-bottom .section__right-bottom-right:active {
  -webkit-box-shadow: 0px 20px 50px -20px #FF7E1B;
          box-shadow: 0px 20px 50px -20px #FF7E1B;
  background: #FFAB6A;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.container section .section__right .section__right-bottom .section__right-bottom-right .section__right-bottom-right-btn {
  margin: 0 auto;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section .section__right .section__right-bottom .section__right-bottom-right .section__right-bottom-right-btn i {
  width: 25px;
  color: white;
  margin-right: 10px;
}

.container section .section__right .section__right-bottom .section__right-bottom-right .section__right-bottom-right-btn span {
  margin-top: -10px;
  font-family: kumbhSansRegular;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 99;
  display: none;
  width: 100%;
}

footer .opacity {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #000000;
  opacity: 0.75;
  z-index: -1;
}

footer .section__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

footer .section__left .section__left-top {
  margin-bottom: 32px;
  opacity: 1;
}

footer .section__left .section__left-top img {
  width: 445px;
  height: 445px;
  border-radius: 15px;
  cursor: pointer;
  opacity: 1;
}

footer .section__left .section__left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 445px;
}

footer .section__left .section__left-bottom .section__left-bottom-img {
  width: 88px;
  height: 88px;
  opacity: 1;
}

footer .section__left .section__left-bottom .section__left-bottom-img img {
  width: 88px;
  border-radius: 10px;
  cursor: pointer;
}

footer .section__left .section__left-bottom .section__left-bottom-img img:active {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.75))), url(Image.png);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(Image.png);
  border: 3px solid #FF7E1B;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .container .navbar .navbar__left {
    width: 50%;
  }
  .container .navbar .navbar__left .navbar-hamburger div {
    width: 30px;
    height: 5px;
    background-color: gray;
    margin-bottom: 5px;
  }
  .container .navbar .navbar__left .navbar__left-section {
    display: none;
  }
  .container .navbar .navbar__right {
    width: 25%;
  }
  .container .navbar .navbar__right .cart {
    min-width: 370px;
  }
  .container .hr {
    display: none;
  }
  .container section {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container section .section__left {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container section .section__left .section__left-top {
    max-width: 360px;
    margin: 0;
    padding: 0;
  }
  .container section .section__left .section__left-top img {
    border-radius: 0;
    margin: 0 auto;
  }
  .container section .section__left .section__left-bottom .section__left-bottom-img {
    display: none;
  }
  .container section .section__right {
    width: 375px;
  }
  .container section .section__right .section__right-top {
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .container section .section__right .section__right-top h3 {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 16px;
  }
  .container section .section__right .section__right-top h1 {
    font-size: 28px;
    line-height: 32px;
  }
  .container section .section__right .section__right-top p {
    font-size: 15px;
    line-height: 25px;
  }
  .container section .section__right .section__right-top .section__right-top-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container section .section__right .section__right-top .section__right-top-price .section__right-top-price-left {
    font-size: 28px;
    line-height: 35px;
  }
  .container section .section__right .section__right-bottom {
    margin: 0 24px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container section .section__right .section__right-bottom .section__right-bottom-left {
    width: 100%;
    margin-bottom: 16px;
  }
  .container section .section__right .section__right-bottom .section__right-bottom-right {
    width: 100%;
  }
  footer {
    display: none;
  }
  footer .section__left, footer .opacity {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */