* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: kumbhSansBold;
    src: url(../web-fonts/KumbhSans-Bold.ttf);
}
@font-face {
    font-family: kumbhSansRegular;
    src: url(../web-fonts/KumbhSans-Regular.ttf);
}
.container {
    max-width: 1110px;
    height: 900px;
    margin: 0 auto;
    // START navbar
    .navbar {
        // width: 1110px;
        height: 50px;
        font-family: kumbhSansRegular;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 28px;
        font-size: 15px;
        line-height: 26px;
        color: #69707D;
        margin-bottom: 34px;
        .navbar__left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 600px;
            a {
                text-decoration: none;
            }
        }
        .navbar__right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100px;
            // .navbar__right-cart {

            // }
            .navbar__right-profile {
                
                .profile-img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    // END section
    .hr {
        max-width: 1110px;
        height: 1px;
        background-color: #E4E9F2;
        margin: 0 auto;
        margin-bottom: 20px;
    }






    // START section
    section {
        display: flex;
        justify-content: space-around;
        // margin: 0 48px;
        .section__left {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .section__left-top {
                margin-bottom: 32px;
                img {
                    width: 445px;
                    height: 445px;
                    border-radius: 15px;
                }
            }
            .section__left-bottom {
                display: flex;
                justify-content: space-between;
                width: 445px;
                .section__left-bottom-img {
                    width: 88px;
                    height: 88px;
                    img {
                        width: 88px;
                        border-radius: 10px;
                    }
                }
            }
        }
        // STRART section right
        .section__right {
            width: 445px;
            .section__right-top {
                margin-top: 62px;
                margin-bottom: 32px;
                h3 {
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 16px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #FF7E1B;
                    font-family: kumbhSansBold;
                    margin-bottom: 24px;
                }
                h1 {
                    font-weight: 700;
                    font-size: 44px;
                    line-height: 48px;
                    color: #1D2026;
                    font-family: kumbhSansBold;
                    margin-bottom: 32px;
                }
                p {
                    font-size: 16px;
                    line-height: 26px;
                    color: #69707D;
                    margin-bottom: 24px;
                }
                .section__right-top-price {
                    display: flex;
                    justify-content: space-between;
                    width: 173px;
                    // height: 68px;
                    .section__right-top-price-left {
                        p {
                            font-size: 28px;
                            // line-height: 35px;
                            color: #1D2026;
                            font-weight: 700;
                            font-family: kumbhSansBold;
                        }
                        .line-through {
                            font-weight: 700;
                            font-size: 16px;
                            // line-height: 26px;
                            text-decoration-line: line-through;
                            color: #B6BCC8;
                            margin-top: -20px;
                        }
                    }
                    .section__right-top-price-right {
                        width: 32px;
                        height: 20px;
                        background-color: #FFEEE2;
                        border-radius: 6px;
                        p {
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            color: #FF7E1B;
                        }
                    }
                }
            }
            .section__right-bottom {
                display: flex;
                justify-content: space-between;
                .section__right-bottom-left {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 157px;
                    height: 56px;
                    background: #F6F8FD;
                    border-radius: 10px;
                }
                .section__right-bottom-right {
                    display: flex;
                    align-items: center;
                    width: 272px;
                    height: 56px;
                    background: #FF7E1B;
                    border-radius: 10px;
                    :hover {
                        box-shadow: 0px 20px 50px -20px #FF7E1B;
                    }
                    .section__right-bottom-right-btn {
                        margin: 0 auto;
                        color: white;
                    }
                }
            }
        }
    }
}