* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: kumbhSansBold;
    src: url(../web-fonts/KumbhSans-Bold.ttf);
}
@font-face {
    font-family: kumbhSansRegular;
    src: url(../web-fonts/KumbhSans-Regular.ttf);
}
.container {
    max-width: 1110px;
    height: 900px;
    margin: 0 auto;
    // START navbar
    position: relative;
    .navbar {
        // width: 1110px;
        height: 50px;
        font-family: kumbhSansRegular;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 28px;
        font-size: 15px;
        line-height: 26px;
        color: #69707D;
        margin-bottom: 34px;
        margin-left: 10px;
        margin-right: 10px;
        .navbar__left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 600px;           
            a {
                text-decoration: none;
                color: #69707D;
                transition: 0.3s;
            }
            .navbar__left-section {
                margin: 0 5px;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background-color: #FF7E1B;
                    opacity: 0;
                    transition: 0.5s;
                    top: 69px;
                    left: 0px;
                    
                }
                &:hover{
                    &::after {
                        opacity: 1;
                        transition: 0.5s;
                        width: 100%;
                    }
                }
                a:hover {
                    color: #FF7E1B;
                    transition: 0.3s;
                }
            }
        }
        .navbar__right {
            font-family: kumbhSansBold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100px;
            position: relative;
            .navbar__right-cart {               
                // position: relative;                     
                .cart-img {
                    // position: relative;
                    .cart-number {
                        position: absolute;
                        background-color: #FF7E1B;
                        border-radius: 6px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 19px;
                        height: 13px;
                        font-size: 10px;
                        // padding-left: 7px;
                        padding-top: 2px;
                        color: #fff;
                        font-weight: 700;
                        left: 20px;
                    }
                    a {
                        img {
                            width: 32px;
                        }
                    }
                }
                a {
                    img {
                        width: 21px;
                        &:hover {
                            color: rgba(255, 126, 27, 0);
                        }
                    }
                }
            }
            .cart {
                position: absolute;
                width: 360px;
                min-height: 256px;
                background: #FFFFFF;
                box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
                border-radius: 10px;
                right: 0px;
                top: 70px;
                display: none;
                .cart-empty {
                    .cart-p {
                        color: #1D2026;
                        margin-bottom: 27px;
                        margin-left: 24px;
                        margin-top: 24px;                    
                        font-size: 16px;                   
                    }
                    .cart-hr {
                        width: 360px;
                        height: 2px;
                        background: #E4E9F2;
                    }
                    .cart-description {
                        font-size: 16px;
                        line-height: 26px;
                        text-align: center;
                        color: #69707D;
                        margin-top: 70px;
                    }
                }
                .cart-full {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    align-items: center;
                    min-width: 312px;
                    font-family: kumbhSansRegular;
                    .cart-small-img {
                        img {
                         width: 50px;
                         height: 50px;
                         border-radius: 4px;
                        }
                     }
                     .cart-middle-text {
                         display: flex;
                         flex-direction: column;
                         font-size: 16px;
                         line-height: 26px;
                         color: #69707D;
                     }
                     .cart-trash {
                         &:hover {
                             color: #FF7E1B;
                         }
                     }
                     .cart-btn {
                         width: 312px;
                         height: 56px;
                         background-color: #FF7E1B;
                         border-radius: 10px;
                         align-items: center;
                         margin: 0 auto;
                         margin-bottom: 20px;
                         p {
                            font-size: 16px;
                            line-height: 20px;                            
                            color: #FFFFFF;
                            font-family: kumbhSansBold;
                            align-items: center;
                            padding-left: 120px;
                            padding-top: 15px;
                         }
                     }
                }
            }
            .navbar__right-profile {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid rgba(255, 125, 26, 0);
                transition: 0.3s;
                box-sizing: border-box;
                overflow: hidden;
                &:hover {
                    border-radius: 50%;
                    border: 2px solid rgba(255, 125, 26, 1);
                    transition: 0.3s;
                }
                .profile-img {
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
    }
    // END navbar
    .hr {
        max-width: 1110px;
        height: 1px;
        background-color: #E4E9F2;
        margin: 0 auto;
        margin-bottom: 90px;
    }






    // START section
    section {
        display: flex;
        justify-content: space-around;
        // margin: 0 48px;
        .section__left {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            // margin: 0 auto;
            .section__left-top {
                margin-bottom: 32px;
                img {
                    width: 445px;
                    height: 445px;
                    border-radius: 15px;
                    cursor: pointer;
                }
            }
            .section__left-bottom {
                display: flex;
                justify-content: space-between;
                width: 445px;
                .section__left-bottom-img {
                    width: 88px;
                    height: 88px;
                    img {
                        width: 88px;
                        border-radius: 10px;
                        cursor: pointer;
                        &:active {                         
                            background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(Image.png);
                            border: 3px solid #FF7E1B;
                        }
                    }
                }
            }
        }
        // STRART section right
        .section__right {
            width: 445px;
            .section__right-top {
                margin-top: 62px;
                margin-bottom: 32px;
                cursor: default;
                user-select: none;
                h3 {
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 16px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #FF7E1B;
                    font-family: kumbhSansBold;
                    margin-bottom: 24px;
                }
                h1 {
                    font-weight: 700;
                    font-size: 44px;
                    line-height: 48px;
                    color: #1D2026;
                    font-family: kumbhSansBold;
                    margin-bottom: 32px;
                }
                p {
                    font-size: 16px;
                    line-height: 26px;
                    color: #69707D;
                    margin-bottom: 24px;
                }
                .section__right-top-price {
                    display: flex;
                    justify-content: space-between;
                    width: 173px;
                    // height: 68px;
                    .section__right-top-price-left {
                        p {
                            font-size: 28px;
                            // line-height: 35px;
                            color: #1D2026;
                            font-weight: 700;
                            font-family: kumbhSansBold;
                        }
                        .line-through {
                            font-weight: 700;
                            font-size: 16px;
                            // line-height: 26px;
                            text-decoration-line: line-through;
                            color: #B6BCC8;
                            margin-top: -20px;
                        }
                    }
                    .section__right-top-price-right {
                        width: 32px;
                        height: 20px;
                        background-color: #FFEEE2;
                        border-radius: 6px;
                        p {
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            color: #FF7E1B;
                        }
                    }
                }
            }
            .section__right-bottom {
                display: flex;
                justify-content: space-between;
                .section__right-bottom-left {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 157px;
                    height: 56px;
                    background: #F6F8FD;
                    border-radius: 10px;
                    .counter-value {
                        input {
                            width: 20px;
                            border: none;
                            outline: none;
                        }
                    }
                    .counter-minus, .counter-plus {
                        i {
                            &:active {
                                color: #FF7E1B;
                            }
                        }
                    }
                }
                .section__right-bottom-right {
                    display: flex;
                    align-items: center;
                    width: 272px;
                    height: 56px;
                    background: #FF7E1B;
                    border-radius: 10px;
                    transition: 0.1s;
                    &:active {
                        box-shadow: 0px 20px 50px -20px #FF7E1B;
                        background: #FFAB6A;
                        transition: 0.1s;
                    }
                    .section__right-bottom-right-btn {
                        margin: 0 auto;
                        color: white;
                        align-items: center;                      
                    }
                }
            }
        }
    }
    
}

footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 99;    
    display: none;
    width: 100%;
    // height: 100vh;
    .opacity {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #000000;   
        opacity: 0.75;
        z-index: -1;
        // display: none;
    }    
    .section__left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        // margin: 0 auto;
        margin-top: 50px;
        .section__left-top {
            margin-bottom: 32px;
            opacity: 1;      
            img {
                width: 445px;
                height: 445px;
                border-radius: 15px;
                cursor: pointer;
                opacity: 1;
            }
        }
        .section__left-bottom {
            display: flex;
            justify-content: space-between;
            width: 445px;
            .section__left-bottom-img {
                width: 88px;
                height: 88px;
                opacity: 1;                
                img {
                    width: 88px;
                    border-radius: 10px;
                    cursor: pointer;
                    &:active {
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(Image.png);
                        border: 3px solid #FF7E1B;
                    }
                }
            }
        }
    }
}
.show {
    display: flex;
}


@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        margin: 0;
        .navbar {
            .navbar__left {
                .navbar-hamburger {
                    div {
                        width: 30px;
                        height: 5px;
                        background-color: gray;
                        margin-bottom: 5px;
                    }
                } 
                width: 50%;
                .navbar__left-section {
                    display: none;
                }
            }
            .navbar__right {
                width: 25%;
                .cart {
                    min-width: 370px;
                }
            }
        }
        .hr {
            display: none;
        }
        // START section
        section {
            width: 100%;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            // margin: 0px 10px;
            .section__left {
                // width: 375px;
                margin: 0 auto;
                display: flex;
                .section__left-top {
                  width: 100%;
                  margin: 0;
                  padding: 0;        
                   img {
                                       
                    border-radius: 0;
                    margin: 0 auto;
                   }
                }
                .section__left-bottom {
                    .section__left-bottom-img {
                        display: none;
                    }
                }
            }
            .section__right {
                width: 375px;
                .section__right-top {
                    margin-top: 24px;
                    margin-bottom: 16px;
                    h3 {
                        font-size: 12px;
                        line-height: 15px;
                        margin-bottom: 16px;
                    }
                    h1 {
                        font-size: 28px;
                        line-height: 32px;
                    }
                    p {
                        font-size: 15px;
                        line-height: 25px;
                    }
                    .section__right-top-price {
                        display: flex;
                        .section__right-top-price-left {
                            font-size: 28px;
                            line-height: 35px;
                        }
                    }
                }
                .section__right-bottom {
                    // display: flex;
                    // flex-direction: column;
                    margin: 0 24px;
                    flex-wrap: wrap;
                    .section__right-bottom-left {
                        width: 100%;
                        margin-bottom: 16px;
                    }
                    .section__right-bottom-right {
                        width: 100%;
                    }
                }
            }
        }        
    }
    footer {
        display: none;
    }    
   
}
